
@font-face{
    font-family: 'Caveat';
    src: url(Caveat/Caveat-VariableFont_wght.ttf);
}


body{
    text-align: center;
    font-family: 'Caveat',serif;
}
article{
    margin: auto 30%;
}

nav{
    z-index: 1;
    font-family: 'Courier New', serif;
}

header h1{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 80px;
    left: 36%;
}

header h2{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 300px;
    left: 37%;
}
.projeto1{
    font-size: 50px;
}
#habilidades{
    padding-top: 100px;
}

#quemsoueu{
    padding-top: 100px;
}

#gostos{
    padding-top: 100px;
}

#links{
    padding-top: 100px;
}
#contatos{
    padding-top: 100px;
}
h3{
    font-size: 40px;
}
p,li{
    font-size: 30px;
}

li{
    display: block;
}


.header{
    margin-top: 0px;
    padding-top: 120px;
    padding-bottom: 148px;
    width: 100%;
	height: 280px;
	background-image: url(images/giz.webp);
    background-size: cover;
   /* border-radius: 20%;*/
    display: block;
}
.divisa{
    background-image: url(/images/divisa.jpg);
    background-size: cover;
    padding-bottom: 20px;
}

nav a:hover{
    color: transparent;
}

.nav{
    position: fixed;
    top: 10px;
    width:100%;
    box-shadow: 0 2px 7px rgba(0, 1, 0, 0.397);
    background-color:gray;
    padding: 9px;
}

.nav a{
    margin-left: 70px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.henrique-front{
    width:321px;
}

.henrique-side{
    width:321px;
    padding-right: 40px;
}

.linksexternos{
    text-decoration: none;
    color: rgb(105, 105, 105);
}

.linksexternos:hover{
    color: rgba(128, 128, 128, 0.664);

}
footer{
    padding-top: 70px;
}

@media screen and (max-width: 1000px) {
    
    main{
        margin-left: 0px;
        left: 0px;
    }
    .nav{
        display: none;
    }
    .title{
        font-size: 50px;
    }
    .henrique-side{
        margin-top: 429px;
        border-bottom-left-radius: 70%;
        background-image: url(/images/giz.webp);
        border: 10px solid black;
    }
    .henrique-front{
        margin-left: 0%;
        margin-top: 429px;
        border-bottom-right-radius: 70%;
        background-image: url(/images/giz.webp);
        border: 10px solid black;
    }
    .header{
        width: 100%;
        position: relative;
        border: 10px solid black;
    }
    header h1{
        top: 2px;
        left: 20%;
        color: white;
        font-size: 80px;
        position: absolute;
    }
    header h2{
        left: 33%;
        top: 350px;
    }
    #quemsoueu{
        padding-top: 1px;
    }
    #links{
        padding-top: 0px;
    }
    #habilidades{
        padding-top: 0px;
    }
    #gostos{
        padding-top: 0px;
        margin-bottom: 0px;
    }
    #section-gostos{
        width: 100%;
    }
    #contatos{
        padding-top: 0px;
    }
    article{
        margin: 0px;
    }
    .divisa{
        margin-left: 30%;
        margin-right: 30%;
    }
    a{
        margin: 3%;
    }
    #ultima-divisao{
        margin-top: 50px;
    }
    footer{
        background-image: url(/images/giz.webp);
        color: white;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    footer p{
        font-size: 35px;
    }
}