
@font-face{
    font-family: 'Caveat';
    src: url(Caveat/Caveat-VariableFont_wght.ttf);
}


body{
    text-align: center;
    font-family: 'Caveat',serif;

}

h1{
    color: white;
    font-size: 70px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 40px;
}
p,li{
    font-size: 30px;
}

.back1{
    background-image: url(images/giz.webp);
    width: 100%;
    height: 280px;
}

.cabecalho{
    
    position: fixed;
    top: 10;
    left: 0;
    width:100%;
    box-shadow: 0 2px 7px rgba(0, 1, 0, 0.397);
    background-color:gray;
    padding: 9px;
}

.cabecalhoescrita{
    
    color:white;
    top: 10;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.henrique{
    border: 50% ;
    width:325px;
}

.linksexternos{
    text-decoration: none;
    color: gray;
}

.linklinkedin{
    background-color: #007bb6 ;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 15px;
}

.linkgithub{
    
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 15px;
    
}